body {
    display: inline-flex;
    font-family: forma-djr-display, sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
  }
  
 /* .timeBar, #eatButton2 {
    
  }*/
  
  
  
  /**********
  INBOX AND EMAILS
  **********/
  #inboxContainer {
    width: 70vw;
    height: 90vh;
    border: solid black;
    margin-right: 50px;
    overflow: hidden;
  }
  
  .emailCombo {
    display: inline-flex;
    padding: 5px 60px 5px 10px;
    transition: margin 1s ease-out;
  }
  
  .emailCombo:hover {
    background-color: #FFE347;
  }
  
  
  .from {
    font-weight: 600;
    flex-shrink: 0;
    width: 12vw;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 2vw;
  }

  .unreadTitle {
    width: 40vw;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 2vw;
    margin-left: 6vw;
  }

  .date {
    width:8vw;
    flex-shrink: 0;
    align-items: flex-end;
  }
 /* 
  .content {
    flex-shrink: 8;
    width: 35vw;
    overflow: hidden;
    white-space: nowrap;
  }
  
  
  */
  /*******
  BUTTONS
  *******/
  .button {
    width: 50px;
    border: solid black;
    padding: 5px 60px 5px 10px;
    margin-bottom: 34px;
  }
  
  #interactContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /*INBOX COUNTER*/
  #inboxBox {
    display: inline-flex;
    margin-bottom: 102px;
  }
  
  #inboxNum {
    padding: 8px 60px 4px 10px;
    margin-left: -35px;
  }
  
  
  /***********
  STATUS BARS
  ***********/
  
  .statusBar {
    width: 150px;
    border: solid black;
    padding: 5px 60px 5px 10px;
    margin-top: 34px;
  }
  
  .timeBar {
    width: 1%;
    height: 30px;
    background-color: #5147FF;
  }